@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "tailwindcss";

:root {
  color-scheme: light;
}

body,
html,
#root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrollbar */
}

#root,
.App {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  max-width: 100%;
}
